APP_ENV=development
CORE_API_BASE_URL=https://terranote-core.local
CORE_API_TIMEOUT_SECONDS=5.0
CORE_API_TOKEN=

WHATSAPP_VERIFY_TOKEN=replace-me
WHATSAPP_ACCESS_TOKEN=replace-me
WHATSAPP_PHONE_NUMBER_ID=replace-me
WHATSAPP_API_BASE_URL=https://graph.facebook.com/v19.0

NOTIFIER_SECRET_TOKEN=


